

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover{
    color: blue !important;
    text-decoration: none;


}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;


}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}